@using Gestion_Dette_Web_Csharp.Models
@model Dette

@{
    ViewData["Title"] = "Création de Dette";
}

<div class="card">
    <div class="card-header">Création Dette</div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label for="date" class="form-label" asp-for="Date">Date</label>
                <input type="text" class="form-control" asp-for="Date" id="date" />
                <span class="form-text text-danger" asp-validation-for="Date"></span>
            </div>

            <div class="mb-3">
                <label for="montant" class="form-label" asp-for="Montant">Montant</label>
                <input type="text" class="form-control" asp-for="Montant" id="montant" />
                <span class="form-text text-danger" asp-validation-for="Montant"></span>
            </div>

            <div class="mb-3">
                <label for="montantVerser" class="form-label" asp-for="MontantVerser">Montant Verser</label>
                <input type="text" class="form-control" asp-for="MontantVerser" id="montantVerser" />
                <span class="form-text text-danger" asp-validation-for="MontantVerser"></span>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-dark" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
